# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
# exclude only heavy subfolders
dist/node_modules/
dist/OWSOT-win32-x64/
node_modules/

build/
.output/
.next/
.nuxt/
.vuepress/dist
.vite/
.svelte-kit/
.serverless/

# Cache and temp
.cache/
.parcel-cache
.temp
.vscode/
.idea/

# Environment
.env
.env.*

# Misc
.DS_Store
Thumbs.db
